<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">
      <ul class="timeline">
        <!-- Experience 1 -->
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">Electronic Arts Inc. (EA)</div>
                <div class="h6 mt-0 title">
                  Software Engineer (08 / 2019 - 12 / 2019)
                </div>
                <p align="justify">
                  Morgan Stanley mobilizes capital to help governments,
                  corporations, institutions and individuals around the world
                  achieve their financial goals.
                </p>
                <p align="justify">Worknig as java developer for Margin team</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Agile</li>
                        <li class="non_list">Autosys</li>
                        <li class="non_list">jenkins</li>
                        <li class="non_list">Treadmill</li>
                        <li class="non_list">Git</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Spring</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">DB2</li>
                        <li class="non_list">Shel-Script</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- Experience 2 -->
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">
                  Canadian Internet Registeration Authority (CIRA)
                </div>
                <div class="h6 mt-0 title">
                  Data Scientist (04 / 2019 - 08 / 2019)
                </div>
                <p align="justify">
                  Morgan Stanley mobilizes capital to help governments,
                  corporations, institutions and individuals around the world
                  achieve their financial goals.
                </p>
                <p align="justify">Worknig as java developer for Margin team</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Agile</li>
                        <li class="non_list">Autosys</li>
                        <li class="non_list">jenkins</li>
                        <li class="non_list">Treadmill</li>
                        <li class="non_list">Git</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Spring</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">DB2</li>
                        <li class="non_list">Shel-Script</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- Experience 3 -->
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">
                  University of Ottawa
                </div>
                <div class="h6 mt-0 title">
                  Teaching Assistant (01 / 2019 - 04 / 2020)
                </div>
                <p align="justify">
                  Worked as a Software developer to develop analytical and
                  visualization solution for oil and gas industries.
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                    <li class="non_list">Web Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Java</li>
                        <li class="non_list">Hibernate</li>
                        <li class="non_list">Maven</li>
                        <li class="non_list">Mysql</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Python</li>
                        <li class="non_list">Microsoft Azure</li>
                        <li class="non_list">Vaadin Web Framework</li>
                        <li class="non_list">Git</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>

<!-- Experience 2 -->
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">
                  BuyUCoin
                </div>
                <div class="h6 mt-0 title">
                  Full Stack Software Engineer (04 / 2017 - 12 / 2017)
                </div>
                <p align="justify">
                  Morgan Stanley mobilizes capital to help governments,
                  corporations, institutions and individuals around the world
                  achieve their financial goals.
                </p>
                <p align="justify">Worknig as java developer for Margin team</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Agile</li>
                        <li class="non_list">Autosys</li>
                        <li class="non_list">jenkins</li>
                        <li class="non_list">Treadmill</li>
                        <li class="non_list">Git</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Spring</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">DB2</li>
                        <li class="non_list">Shel-Script</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>



        <!-- Experience 2 -->
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">
                  Technical University of Sofia
                </div>
                <div class="h6 mt-0 title">
                  Software Developer (05 / 2016 - 08 / 2016)
                </div>
                <p align="justify">
                  Morgan Stanley mobilizes capital to help governments,
                  corporations, institutions and individuals around the world
                  achieve their financial goals.
                </p>
                <p align="justify">Worknig as java developer for Margin team</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Agile</li>
                        <li class="non_list">Autosys</li>
                        <li class="non_list">jenkins</li>
                        <li class="non_list">Treadmill</li>
                        <li class="non_list">Git</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Spring</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">DB2</li>
                        <li class="non_list">Shel-Script</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>


      </ul>
    </div>
  </div>
</div>
