<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">
      <ul class="timeline">
        <!-- Experience 1 -->
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">Electronic Arts Inc. (EA)</div>
                <div class="h6 mt-0 title">
                  Software Engineer (08 / 2019 - 12 / 2019)
                </div>
                <p align="justify">
                  Extracting bug-fixing C++ code commit data to generate a model
                  to find out the bug-inducing commits. Used C++ STL to extract
                  the data. Created Abstract syntax tree of C++ code using
                  python. Used python’s libraries pickle, pandas, numpy,
                  Scikit-learn to manipulate and prepare the data. BASH Scripts
                  were also written to automate. Backtracking the bug life cycle
                  to find out the root cause. Used the Elasticsearch to improve
                  the quality of the code by giving recommendations
                </p>
                <!-- <p align="justify">Worknig as java developer for Margin team</p> -->
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">UI Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Python</li>
                        <li class="non_list">Git</li>
                        <li class="non_list">JIRA</li>
                        <li class="non_list">AWS Cloud</li>
                        <li class="non_list">ElasticSearch</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">JavaScript</li>
                        <li class="non_list">SQL</li>
                        <li class="non_list">Linux</li>
                        <li class="non_list">Shell-Script</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- Experience 2 -->
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">
                  Canadian Internet Registeration Authority (CIRA)
                </div>
                <div class="h6 mt-0 title">
                  Data Scientist (04 / 2019 - 08 / 2019)
                </div>
                <p align="justify">
                  Successfully changed the database and data warehouse
                  architecture and migrate to the cloud. Built the Data Lake in
                  AWS. Used PDI for creating data pipelines and for ETL
                  processes. Used Oracle SQL Developer for database management
                  on-premise data. Data Visualization using QlikSense. Used
                  Terraform and BASH scripting to automate the process.
                </p>
                <!-- <p align="justify">Worknig as java developer for Margin team</p> -->
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Cloud Data Lake Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Amazon Web Services</li>
                        <li class="non_list">Agile</li>
                        <li class="non_list">Oracle SQL</li>
                        <li class="non_list">Git</li>
                        <!-- <li class="non_list">ETL</li> -->
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">QlikSense</li>
                        <li class="non_list">Pentaho Data Integration</li>
                        <li class="non_list">ETL</li>
                        <!-- <li class="non_list">Shel-Script</li> -->
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- Experience 3 -->
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">University of Ottawa</div>
                <div class="h6 mt-0 title">
                  Teaching Assistant (01 / 2019 - 04 / 2020)
                </div>
                <p align="justify">
                  Taught Object-oriented programming with C++ and Java to 1st
                  year students. Lecturing, grading, proctoring, Aiding Students
                  in Problem Solving and program debugging, Taught Data
                  structures
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Courses Taught</li>
                  <ul>
                    <!-- <li class="non_list"></li> -->
                    <li class="non_list">Java</li>
                    <li class="non_list">Discrete Structures</li>
                  </ul>
                  <!-- <li class="list">Technologies and Language</li> -->
                  <!-- <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Java</li>
                        <li class="non_list">Hibernate</li>
                        <li class="non_list">Maven</li>
                        <li class="non_list">Mysql</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Python</li>
                        <li class="non_list">Microsoft Azure</li>
                        <li class="non_list">Vaadin Web Framework</li>
                        <li class="non_list">Git</li>
                      </div>
                    </div>
                  </ul> -->
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- Experience 2 -->
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">BuyUCoin</div>
                <div class="h6 mt-0 title">
                  Full Stack Software Engineer (04 / 2017 - 12 / 2017)
                </div>
                <p align="justify">
                  Developed the front-end of the web application using
                  JavaScript, HTML and CSS. Developed RestFul Web APIs. Used
                  Node.js as the run time environment with React and Angular as
                  the framework. Took care of the security and the look of the
                  website. Worked in an agile environment.
                </p>
                <!-- <p align="justify">Worknig as java developer for Margin team</p> -->
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Web Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Agile</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">React</li>
                        <li class="non_list">Node.js</li>
                        <li class="non_list">Git</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">MongoDB</li>
                        <li class="non_list">TypeScript</li>
                        <li class="non_list">JavaScript</li>
                        <li class="non_list">Express.js</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- Experience 2 -->
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">Technical University of Sofia</div>
                <div class="h6 mt-0 title">
                  Software Developer (05 / 2016 - 08 / 2016)
                </div>
                <p align="justify">
                  Developed C# Scripts with .Net Framework for Unity
                  Environment. Models were built using unreal engine with
                  features coded in C++. Worked on Android Development, Built
                  and deployed Pokémon Wiki Augmented Reality Android App
                </p>
                <!-- <p align="justify">Worknig as java developer for Margin team</p> -->
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Agile</li>
                        <li class="non_list">C++</li>
                        <li class="non_list">Unity</li>
                        <li class="non_list">Java</li>
                        <!-- <li class="non_list"></li> -->
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">C#</li>
                        <li class="non_list">Android Development</li>
                        <li class="non_list">MySQL</li>
                        <li class="non_list">Augmented Reality Development</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
