<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <!-- Education 1 -->
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2018-2020</p>
            <div class="h5">Masters Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Masters of Computer Science</div>

            <h4 class="category">University of Ottawa</h4>
            <ul>
              <li>
                Courses - Machine Learning, Data Mining, Convolutional Neural
                Networks, Technical Debt in Software Development, Ethics in AI
              </li>
              <li>International scholarship - 5000 Dollars</li>
              <li>Overall Grade - A+</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Education 2 -->
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2014-2018</p>
            <div class="h5">Bachelors Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Bachelor of Computer Science Engineering</div>
            <h4 class="category">Guru Gobind Singh Indraprastha University</h4>
            <ul>
              <li>
                Courses - Data Structures, Algorithms Design and Analysis,
                Theory of Automata, Compiler Design, Computer Neworks, Database
                Management, etc.
              </li>
              <li>In Director's Merit List</li>
              <li>Overall Grade - A</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
