<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">
      <!-- Project 1 -->
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/portfolio.JPG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Personal Portfolio Using Angular</h4>
              <h5 class="card-text"><b>Technology :</b> Angular,Bootstrap3</h5>
              <h5 class="card-text">
                <a
                  href="https://github.com/rishabh-kukreja/Personal-Portfolio-Angular"
                  >View my Live Demo</a
                >
              </h5>

              <button
                class="btn btn-primary"
                onclick="location.href='https://github.com/rishabh-kukreja/Sorting-Visualizer'"
                type="button"
              >
                Github Link
              </button>

              <!-- <a href="http" class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/rishabh-kukreja/Personal-Portfolio-Angular"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>
      <!-- Project 2 -->
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/sorting.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Sorting Visualizer with Python</h4>
              <h5 class="card-text"><b>Technology :</b> Angular,Bootstrap3</h5>
              <h5 class="card-text">
                <a href="http://">View my Live Demo</a>
              </h5>

              <button
                class="btn btn-primary"
                onclick="location.href='https://github.com/rishabh-kukreja/Sorting-Visualizer'"
                type="button"
              >
                Github Link
              </button>

              <!-- <a
                href="https://"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/rishabh-kukreja/Sorting-Visualizer"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>

      <!-- Project 3 -->

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/covid-19.JPG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Covid-19 Tracking App</h4>
              <h5 class="card-text">
                <b>Technology :</b> Django,Python,Bootstrap3
              </h5>

              <h5 class="card-text">
                <a href="https://rishabh-kukreja.github.io/Covid-19-Tracking/"
                  >View my Live Demo</a
                >
              </h5>

              <!-- <a
                href="https://rishabh-kukreja.github.io/"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              > -->

              <!-- <button
                class="btn btn-primary"
                onclick="location.href='http://www.google.com'"
                type="button"
              >
                Google
              </button> -->

              <button
                class="btn btn-primary"
                onclick="location.href='https://github.com/rishabh-kukreja/Covid-19-Tracking'"
                type="button"
              >
                Github Link
              </button>
              <!-- <a
                href="https://rishabh-kukreja.github.io/Covid-19-Tracking/"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              > -->
            </div>
          </div>
        </div>
      </div>

      <!--  -->
    </div>
  </div>
</div>
